* {
    margin: 0px;
    padding: 0px;
}
:root {
    --main-color: red;
    --cold0: white;
    --cold10: lightblue;
    --cold30: darkblue;
    --med40:blue;
    --med50:teal;
    --med60:green;
    --warm70: yellow;
    --warm80: orange;
    --hot90:red;
    --hot100:darkred;

    background-color: var();
}
header {
    display: grid;
    grid-auto-flow: column;
}
.today {
    display:grid;
    grid-template-columns: auto auto;
    border: solid 1px red;
}
.forecast {
    border: solid 1px blue;
    height:200px;
    display: grid;
    grid-auto-flow: column;
}
.day {
    border: solid 1px red;
    height: 200px;
    display: grid;
    background-color: ;
}
.date, .maxTemp, .minTemp, .chanceRain, .conditionIcon, .sunrise, .sunset {
    justify-self: center;
}