* {
    margin: 0px;
    padding: 0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; */
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
:root {
    --main-color: red;
    --cold0: white;
    --cold10: lightblue;
    --cold30: darkblue;
    --med40:blue;
    --med50:teal;
    --med60:green;
    --warm70: yellow;
    --warm80: orange;
    --hot90:red;
    --hot100:darkred;
    --bgblue:rgba(0, 26, 255, 0.5);
    --borrad: 8px;

}

html { 
    /* background: url(night-clear-timothee-duran.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
  }
header {
    display: grid;
    grid-auto-flow: column;
    color:white;
    padding: 4px;
    background-color: var(--bgblue);
}
.updated {
    text-align: right;
}
.weather {

}
.today {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto 1fr auto;
    /* border: solid 1px red; */
    height: 40vh;
    padding-top:3vh;
    padding-bottom: 0; 
    padding-left: 3vw;
    padding-right: 3vw;
    color:white;   
    font-size: 1.3rem;
    /* larger font in today compared to future days */
    /* graphics for background depending on current weather. use icon name? */
}
.cityName {
    font-size: 2rem;
}
.currentTemp {
    font-size: 2rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.dailyCondition {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-auto-flow: column;
    /* max-width: 100%; */
    overflow-x:scroll;
    background-color: var(--bgblue);
    border-radius: var(--borrad);
    padding-top:12px;
}
.dailyCondition::-webkit-scrollbar {
    height: 12px;
    background-color: rgba(0, 0, 255, 0);
}
/* .dailyCondition::-webkit-scrollbar-button       {  }
.dailyCondition::-webkit-scrollbar-track-piece  {  } */
.dailyCondition::-webkit-scrollbar-thumb        { 
    background-color: rgba(0, 0, 255, 0.7);
    border-radius: var(--borrad);
 }
/* .dailyCondition::-webkit-scrollbar-corner       {  }
.dailyCondition::-webkit-scrollbar              {  }
.dailyCondition::-webkit-resizer                {  } 
.dailyCondition::-webkit-scrollbar-track        {  } */

.hourlyImgContainer {
    display: grid;
    height: 94px;;
}
.hourlyCondition {
    align-self: center;
}
.hourlyPercent {
    font-size: 1.1rem;
}
.hourlyTime, .hourlyCondition, .hourlyTemp, .hourlyPercent {
    text-align: center;
}
.forecast {
    /* border: solid 1px blue; */
    height:200px;
    display: grid;
    grid-auto-flow: column;
    gap: 3vw;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-bottom: 2vh;
    padding-top: 1.5vh;
    color: white;
}
.day {
    /* border solid 1px red; */
    height: 200px;
    display: grid;
    background-color:  var(--bgblue);
    border-radius: var(--borrad);
}
.date, .dailyTemp, .currentCond, .maxTemp, .minTemp, .chanceRain, .conditionIcon, .sunrise, .sunset, .currentTemp, .cityName{
    justify-self: center;
    align-self: center;
}